@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Todo App</title>

    <environment names="Development">

        <!-- Bootstrap core CSS -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet">

        <link href="~/all.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link  href="~/css/Style.css" rel="stylesheet" />



    </environment>
    @RenderSection("styles", required: false)
</head>

<body>
    @RenderBody()
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Login" asp-action="Index">Login</a></li>
                    <li class="active"><a asp-controller="Todo" asp-action="Index">To Do<span class="sr-only">(current)</span></a></li>
                </ul>
            </div><!--/.nav-collapse a-->
        </div>
    </nav>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.js"
        integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
        crossorigin="anonymous"></script>*@
    @*<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>*@

    <script>window.jQuery || document.write('<script src="~/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/jquery.slim.min.js"></script>
    <script src="~/bootstrap.bundle.min.js"></script>

    <script src="~/js/all.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
